---
const projects = [
  {
    title: "Guitar Explorer",
    images: [
      "/assets/img/guitar-db.png",
      "/assets/img/guitar-db2.png"
    ],
    site: "https://guitar-db.herokuapp.com/",
    source: "https://gitlab.com/tabrezakhtar/guitar-db",
    description: [
      "One of my hobbies is guitar playing, and I enjoy window shopping for my next guitar. This is my attempt at creating a site with an easy to use filter, that works fast and seamlessly. The main section of the page displays the guitars in a modal rather than opening up a new page. This makes the guitars easier to browse and maintains the current filter.",
      "The API is built with Node/Express/Mongoose and MongoDB as the database. I found that building the filter was easier with MongoDB rather than a relational database because it accepts JSON to query the database. This made it trivial to build the query client-side and send it to the API.",
      "The front-end is React/Redux and Sass. Usually I would reach for Bootstrap for this kind of project but I wanted to build the CSS from scratch and design my own responsive theme."
    ],
    tech: [
      { icon: "bx bxl-javascript", name: "JavaScript" },
      { icon: "bx bxl-nodejs", name: "NodeJS" },
      { icon: "bx bxl-mongodb", name: "MongoDB" },
      { icon: "bx bxl-react", name: "React" },
      { icon: "bx bxl-sass", name: "Sass" },
      { icon: "bx bxl-html5", name: "HTML5" },
      { icon: "bx bxl-git", name: "Git" },
      { icon: "bx bxl-visual-studio", name: "VSCode" }
    ]
  },
    {
    title: "Simple Weight Loss Tracker",
    images: [
      "/assets/img/weightloss.png"
    ],
    site: "http://www.simpleweightlosstracker.co.uk",
    description: [
      "I'm currently on a weight loss journey so I wrote this to keep track of my progress.  There are plenty of weight loss trackers out there, but I wanted to build one that was private and ad free.",
      "The app is built with plain JavaScript and Chart.js.  I chose to build inside Astro.js for convenience as it already has routing and markdown support built-in."
    ],
    tech: [
      { icon: "bx bxl-javascript", name: "JavaScript" },
      { icon: "bx bxl-html5", name: "HTML5" },
      { icon: "bx bxl-git", name: "Git" },
      { icon: "bx bxl-visual-studio", name: "VSCode" }
    ]
  },
  {
    title: "whatsthescore",
    images: [
      "/assets/img/whatsthescore2025.png"
    ],
    site: "https://whatsthescore.netlify.app/",
    source: "https://github.com/tabrezakhtar/whatsthescore-web",
    description: [
      "I built this app as a way of keeping the score during a tennis match. Sometimes during a long match, its easy to forget! The UI is designed to be as simple as possible, with only 2 buttons to control the score.",
      "To build this project, I used React with the Context API and styled it using BeerCSS for a Material theme. The module to model the tennis score is built with a Test-Driven approach using Jest, since tennis scoring has a lot of edge cases that can easily slip through without tests."
    ],
    tech: [
      { icon: "bx bxl-javascript", name: "JavaScript" },
      { icon: "bx bxl-react", name: "React" },
      { icon: "bx bxl-html5", name: "HTML5" },
      { icon: "bx bxl-git", name: "Git" },
      { icon: "bx bxl-visual-studio", name: "VSCode" }
    ]
  }
];
---
<section id="projects" class="projects section-bg">
  <div class="container">
    <div class="section-title">
      <h2>My Projects</h2>
      <p>
        Here are some personal projects that I am working on now. I've tried to
        combine some of my other interests with coding.
      </p>
    </div>
    {projects.map(project => (
      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="project__container">
          <div class="lhs">
            {project.images.map((img, imgIndex) => (
              <img 
                src={img} 
                alt={`Screenshot of ${project.title}`} 
                data-bs-toggle="modal" 
                data-bs-target={`#projectModal${projects.indexOf(project)}${imgIndex}`}
              />
            ))}
          </div>
          <div class="rhs">
            <span>
              <a class="link h4" href={project.site} target="_blank" rel="noopener noreferrer">{project.title}</a>
            </span>
            {project.description.map(paragraph => (
              <p>{paragraph}</p>
            ))}
            <div class="tech__badges">
              {project.tech.map(t => (
                <div data-aos="flip-left">
                  <i class={t.icon}></i>
                  <span>{t.name}</span>
                </div>
              ))}
            </div>
            <p>
              {project.source && (
                <span>
                  source: <a class="link" href={project.source} target="_blank" rel="noopener noreferrer">{project.source}</a>
                </span>
              )}
              {project.site && (
                <span>
                  site: <a class="link" href={project.site} target="_blank" rel="noopener noreferrer">{project.site}</a>
                </span>
              )}
            </p>
          </div>
        </div>
      </div>
    ))}
  </div>
</section>

<!-- Bootstrap Modals for Lightbox -->
{projects.map((project, index) => (
  project.images.map((img, imgIndex) => (
    <div
      class="modal fade"
      id={`projectModal${index}${imgIndex}`}
      tabindex="-1"
      aria-labelledby={`projectModalLabel${index}${imgIndex}`}
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id={`projectModalLabel${index}${imgIndex}`}>{project.title}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body text-center">
            <img 
              src={img} 
              alt={`Screenshot of ${project.title}`} 
              class="img-fluid" 
              data-bs-dismiss="modal"
              style="cursor: pointer;"
            />
          </div>
        </div>
      </div>
    </div>
  ))
))}

<style>
  .project__container {
    display: flex;
    border-bottom: 1px solid $divider-color;
  }

  @media (max-width: 720px) {
    .project__container {
      display: block;
    }
  }


  .project__container .lhs {
    flex: 0 1 calc(30%);
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: column;
  }

  @media (max-width: 720px) {
    .project__container .lhs {
      align-items: center;
    }
  }

  .project__container .lhs img {
    transition: all .2s ease-in-out;
    width: 24rem;
    padding-top: 2rem;
  }

  @media (max-width: 720px) {
    .project__container .lhs img {
      width: 35rem;
    }  
  }

  .project__container .lhs img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .project__container .rhs {
    justify-content: center;
    flex: 1;
    padding: 2rem;
  }

  .project__container .rhs span {
    display: block;
    padding-bottom: 1rem;
  }

  .project__container .rhs p {
    padding-bottom: 1rem;
  }

  .project__container .rhs .tech__badges {
    justify-content: left;
  }

  .project__container .rhs .tech__badges img {
    width: 3rem;
  }

  .link {
    font-weight: bold;
    color: #008080;
  }

  .modal-body img {
    max-height: 70vh;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }
</style>
