---
import BlogLayout from "./BlogLayout.astro";
const { frontmatter } = Astro.props;

const date = new Date(frontmatter.pubDate);
const result = date.toDateString();
---
<BlogLayout pageTitle={frontmatter.title}>
  <section id="blog" class="blog" style="padding-top:30px; color: white; background-color: #000c1ff5;">
    <div class="container" style="margin-left:0px">
      <div class="section-title">
        <h2>{frontmatter.title}</h2>
        <p><em>{frontmatter.description}</em></p>
      </div>

      <div style="color: #008080;">
        <p><b><i>{result}</i></b></p>

        <p><b>Written by: {frontmatter.author}</b></p>
      </div>
      {/* <br /> */}
      {/* <div style={{
        backgroundImage: `url(${frontmatter.image.url})`,
        backgroundSize: 'cover',
        backgroundPosition: 'center',
        width: '100%',
        height: '600px',
        marginBottom: '30px'
      }}></div> */}

      <div class="blog-content">
      <slot />
      </div>
    </div>
  </section>
</BlogLayout>