---
import BlogLayout from './BlogLayout.astro';
const { frontmatter } = Astro.props;
---
<BlogLayout pageTitle={frontmatter.title}>

  <section id="blog" class="blog">
    <div class="container">

      <div class="section-title">
        <h2>{frontmatter.title}</h2>
        <p><em>{frontmatter.description}</em></p>
      </div>


  <p>{frontmatter.pubDate.toString().slice(0,10)}</p>

  <p>Written by: {frontmatter.author}</p>

  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />

  <slot />
</BlogLayout>