---
import BlogLayout from "./BlogLayout.astro";
const { frontmatter } = Astro.props;
---

<BlogLayout pageTitle={frontmatter.title}>

  <section id="hero2" class="d-flex flex-column justify-content-center align-items-center" style={`background: url(${frontmatter.image.url}) top center;`}>
    <div class="hero-container2" data-aos="fade-in">
      <!-- <h1>{frontmatter.title}</h1>
      <p><span>{frontmatter.description}</span></p> -->
    </div>
  </section>

  <section id="blog" class="blog" style="padding-top:30px">
    <div class="container" style="margin-left:0px">
      <div class="section-title">
        <h2>{frontmatter.title}</h2>
        <p><em>{frontmatter.description}</em></p>
      </div>

      <div style="color: #008080;">
        <p><b><i>{frontmatter.pubDate.toString().slice(0, 10)}</i></b></p>

        <p><b>Written by: {frontmatter.author}</b></p>
      </div>
      <br />
      <img
        src={frontmatter.image.url}
        width="300"
        alt={frontmatter.image.alt}
      />

      <slot />
    </div>
  </section>
</BlogLayout>